body {
  background-color: #ccc;
  font-size: 16px;
  color: #263238;
  fill: #ccc;
  margin: 20px;
}
textarea {
	padding: 4px;
}
fieldset {
	margin-bottom: 10px;
}
button {
	height: 36px;
}
#input-form {
	display: inline-table;
	margin: 10px;
	padding: 10px;
	width: 300px;
}
#motto-data {
	resize: none;
}
#glyph {
	display: inline-table;
}
#copyright {
  font-size: 12px;
}
